body{
    margin: 0;
       background-image: url("BG.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}

h1{
  padding-left: 15px;
    color:rgb(1, 70, 70);
      font-size: 2rem;
}
.question{
   
    color: rgb(68, 68, 68);
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 20px 5px 25px 10px;
}
.variant{
    padding-top: 5px;
    color: rgb(1, 70, 70);
    font-size: 1.3rem;
    display:list-item;
}
.answer{
    background-color: rgb(1, 70, 70);
    color: rgb(77, 244, 230);
    border: 0;
    border-radius: 8%;
    font-size:16px ;
    padding: 8px 15px;
    margin: 20px 20px;
    margin-right: 10px;
    cursor: pointer;

}
.spanRes{
    font-size: 1.3rem;
}
.passed{
    border:0;
    border-radius: 7%;
    background-color:rgb(91, 244, 77);
    padding: 8px 15px;
    color: rgb(0, 11, 11);
}
.no_passed{
    
    border:0;
    border-radius: 7%;
    background-color: rgb(255, 0, 0);
    padding: 8px 15px;
    color: rgb(1, 70, 70);
}

@media screen and (max-width: 700px) {
    body{
        padding: 5px 0;
    }
    h1{
      font-size: 1.5rem;
}
.question{
    font-size: 1.2rem;
    
}
.variant{
 
    font-size: 1rem;
  
}
.answer{
font-size: 1rem;

}
.spanRes{
    font-size: 1rem;
}
}